services:
  redis:
    image: redis:7-alpine
    container_name: xray-agent-redis
    restart: unless-stopped
    network_mode: "host"
    command:
      [
        "redis-server",
        "--port", "${REDIS_PORT}",
        "--save", "",
        "--appendonly", "yes"
      ]

  xray-agent-api:
    build: .
    container_name: xray-agent-api
    restart: unless-stopped
    network_mode: "host"
    depends_on:
      - redis
    env_file:
      - .env
    command: ["python", "-m", "uvicorn", "app.main:app", "--host", "${API_BIND_HOST}", "--port", "${API_BIND_PORT}"]
    volumes:
      - /var/log/xray:/var/log/xray:ro
      - /etc/localtime:/etc/localtime:ro

  xray-guard:
    container_name: xray_guard_worker
    build: .
    restart: unless-stopped
    network_mode: "host"
    env_file:
      - .env
    command: [ "python", "-m", "app.workers.xray_guard.main" ]
    volumes:
      - /var/log/xray:/var/log/xray:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - redis



  xray-agent-worker:
    build: .
    container_name: xray-agent-worker
    restart: unless-stopped
    network_mode: "host"
    depends_on:
      - redis
    env_file:
      - .env
    command: ["python", "worker.py"]
    volumes:
      - /var/log/xray:/var/log/xray:ro
      - /etc/localtime:/etc/localtime:ro